services:
  mariadb:
    container_name: mariadb
    image: mariadb:shachowd
    restart: always
    env_file: .env
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception

  wordpress:
    container_name: wordpress
    image: wordpress:shachowd
    restart: always
    env_file: .env
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    volumes:
      - wp:/var/www/html
    networks:
      - inception

  nginx:
    container_name: nginx
    image: nginx:shachowd
    restart: always
    env_file: .env
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    depends_on:
      - wordpress
      - mariadb
    volumes:
      - wp:/var/www/html:ro
    ports:
      - "443:443"
    networks:
      - inception

volumes:
  db:
    #name: DB_Volume
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/db
      o: bind
  wp:
    #name: WP_Volume
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wp
      o: bind

networks:
  inception:
    name: inception
    driver: bridge
